<!DOCTYPE html>
<% include ./public/head %>
<body>
<% include ./public/header %>
<div style="width: 500px;margin: 0 auto;">
    <p>一开始，我只是想做个练手的项目</p>
    <p>后来，我发现，这个项目越做越有意思了</p>
    <p>随着更多想法的加入，我觉得它变得比我想象的更加有趣</p>
    <p>当然，这一切仅仅是一个开端</p>
    <p>有人问我，它可以用来做什么</p>
    <p>我会告诉他/她：这只是业余兴趣爱好</p>
    <p>我不会告诉他/她：你可以在这里找到最便宜的Tickets</p>
    <p>虽然现阶段功能还很欠缺，如你所见</p>
    <p>但是，在我写下这段关于的时候</p>
    <p>它已经有了前世今生</p>
    <p>那么，它已不是它</p>
    <p>她？他？</p>
    <p>未知数太多</p>
    <p>而我们总是对未来充满了求知的精神</p>
    <p>这大概便是你我的故事了</p>
    <p>期待未来的你能与我一起去完成未完的心愿</p>
</div>
<% include ./public/footer %>
<script>

</script>
</body>
</html>