<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <!-- <script src="/javascripts/main.js"></script> -->
  </head>
  <body>
    <h1>Administrator, Welcome !</h1>
    <input type = 'button' id = 'button' value = "refresh" />
    <script>
    	$('#button').on('click',function(e){
			$.get('/buttonClicked',function(data){
				if(!data) alert('refresh failed!');
				alert(data);
			});
		});
    </script>
  </body>
</html>
