<!DOCTYPE html>
<% include ./public/head %>
<body>
<% include ./public/header %>
<div style="width: 500px;margin: 0 auto;">
这里是热门
</div>
<% include ./public/footer %>
<script>

</script>
</body>
</html>