body {
	font-family: 'Open Sans', Helvetica, Tahoma, Arial, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
}

a {
  color: #00B7FF;
}

#data{

}


.pic{
	float: left;
	width: 150px
}

.info{

}


#search{
	
}
.mycontainer{
	padding: 10px;
}
nav{
	background-color: #438C13;
}

.mycart-content{
	padding: 3px;
}


.parallax-container {
	height: 500px;
}
.mycard{
	opacity: 0.95;
}

.myselect{
	display: block;
	float: left;
	text-align: center;
	width: 33.333%;
	padding: 10px;
}

.test{
	height: 60%;
	opacity: 0.95;
	top: 20%;
}


