<footer class="page-footer" style="background-color: #41B146;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Ticketime - 时光电影票</h5>
                <p class="grey-text text-lighten-4">我们不生产电影票</p>
                <p class="grey-text text-lighten-4">我们只是电影票的搬运工</p>
                <p class="grey-text text-lighten-4">但我们只给你带来最便宜的Tickets</p>

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">友情链接</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" target="_blank"href="http://www.gewara.com/">格瓦拉</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="http://nj.meituan.com/dianying/">美团(猫眼)电影</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank"href="http://dianying.taobao.com/">淘宝电影</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank"href="http://nj.nuomi.com/movie">百度糯米</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank"href="http://www.dianping.com/nanjing/movie">大众点评</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Ticketime 2016 Copyright
        </div>
    </div>
</footer>