<header>
    <nav style="background-color: #41B146">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><img class="responsive-img" src="./images/ticketime.png"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down" style="margin-right: 20px;">
                <li><a href="/">首页</a></li>
                <li><a href="/hotmovie">热映</a></li>
                <li><a href="/office">票房</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/">首页</a></li>
                <li><a href="/hotmovie">热映</a></li>
                <li><a href="/office">票房</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
        </div>
    </nav>
</header>