<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <!--<script src="/javascripts/layer.js"></script>-->
</head>